<!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand navbar-brand-logo">
          <a href="/">
            <!-- LOGO HERE -->
            LET
          </a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-nav">
        
        <div ng-if="headerCtr.user">
          <ul  ng-if="headerCtr.user.role == 'admin'" class="nav navbar-nav navbar-nav-margin-left">
            <li class="nav-item">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
            </li>  
            <li class="nav-item">
              <a href="/admin/dashboard" class="dropdown-toggle" data-toggle="dropdown">Dashboard</a>
            </li>  
            <li class="nav-item">
              <a href="/admin/org/all" class="dropdown-toggle" data-toggle="dropdown">Organizations</a>
            </li>
            <li class="nav-item">
              <a href="/admin/courses/all" class="dropdown-toggle" data-toggle="dropdown">Courses</a>
            </li>
          </ul>


          <ul ng-if="headerCtr.user.role == 'teacher'" class="nav navbar-nav navbar-nav-margin-left">
            <li class="nav-item">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
            </li>  
            <li class="nav-item">
              <a href="/teacher/dashboard" class="dropdown-toggle" data-toggle="dropdown">Dashboard</a>
            </li>
            <li class="nav-item">
              <a href="/teacher/courses/all" class="dropdown-toggle" data-toggle="dropdown">My Courses</a>
            </li>
          </ul>


          <ul ng-if="headerCtr.user.role == 'student'" class="nav navbar-nav navbar-nav-margin-left">
            <li class="nav-item">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
            </li>  
            <li class="nav-item">
              <a href="/student/dashboard" class="dropdown-toggle" data-toggle="dropdown">Dashboard</a>
            </li>
            <li class="nav-item">
              <a href="/student/courses/all" class="dropdown-toggle" data-toggle="dropdown">My Courses</a>
            </li>
          </ul>
        </div>


        <div class="navbar-right">
          <ul ng-if="headerCtr.user" class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right">
            <!-- user -->
            <li class="dropdown user">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{headerCtr.user.name}}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <!-- Dashboard routes -->
                <li ng-if="headerCtr.user.role == 'admin'"><a href="/admin/dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a></li>
                <li ng-if="headerCtr.user.role == 'student'"><a href="/student/dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a></li>
                <li ng-if="headerCtr.user.role == 'teacher'"><a href="/teacher/dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a></li>

                <!-- Organization route only for admin -->
                <li ng-if="headerCtr.user.role == 'admin'"><a href="/admin/org/all"><i class="fa fa-mortar-board"></i> My Organization</a></li>

                <!-- Courses Routes -->
                <li ng-if="headerCtr.user.role == 'admin'"><a href="/admin/courses/all"><i class="fa fa-mortar-board"></i> My Courses</a></li>
                <li ng-if="headerCtr.user.role == 'student'"><a href="/student/courses/all"><i class="fa fa-mortar-board"></i> My Courses</a></li>
                <li ng-if="headerCtr.user.role == 'teacher'"><a href="/teacher/courses/all"><i class="fa fa-mortar-board"></i> My Courses</a></li>

                <!-- Resources Routes -->
                <li ng-if="headerCtr.user.role == 'admin'"><a href="/admin/resources/all"><i class="fa fa-mortar-board"></i>Resources</a></li>
                <li ng-if="headerCtr.user.role == 'teacher'"><a href="/teacher/resources/all"><i class="fa fa-mortar-board"></i>Resources</a></li>
                
                <!-- Assessments Routes -->
                <li ng-if="headerCtr.user.role == 'admin'"><a href="/admin/assessments/all"><i class="fa fa-mortar-board"></i>Assessments</a></li>
                <li ng-if="headerCtr.user.role == 'teacher'"><a href="/teacher/assessments/all"><i class="fa fa-mortar-board"></i>Assessments</a></li>

                <!-- Activitiy Routes -->
                <li ng-if="headerCtr.user.role == 'admin'"><a href="/admin/activity/all"><i class="fa fa-mortar-board"></i>Activities</a></li>                
                <li ng-if="headerCtr.user.role == 'teacher'"><a href="/teacher/activity/all"><i class="fa fa-mortar-board"></i>Activities</a></li>                

                <li><a href="logout" ng-click="headerCtr.logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
              </ul>
            </li>
            <!-- // END user -->
          </ul>
          <a ng-if="!headerCtr.user" href="login" class="navbar-btn btn btn-primary">Log In</a>
        </div>
      </div>
      <!-- /.navbar-collapse -->

    </div>
  </div>