<div style="font-family:RobotoDraft;text-align:center;margin-top:50px;margin-bottom:40px;">
  <p style="font-size:60px;">LET</p>
  <p style="font-size:30px;margin-top:30px">Your De-Facto Solution for Learning Experience Tracking.</p>
</div>

<div class="container">
  <div class="page-section-heading">
    <h2 class="text-display-1">Features</h2>
    <p class="lead text-muted">Learn about all of the features we offer.</p>
  </div>
  <div class="row" data-toggle="gridalicious">
    <div class="media col-md-3" style="margin-top:15px;">
      <img class="center-block" src="theme/images/growth.png" title="Track all learning wherever it happens" />
      <div class="media-body">
        <div class="panel-body">
          <div class="lead text-muted text-center">Track all learning wherever it happens.</div>
        </div>
      </div>
    </div>

    <div class="media col-md-3" style="margin-top:15px;">
      <img class="center-block" src="theme/images/chart.png" title="Stop digging through spreadsheets" />
      <div class="media-body">
        <div class="panel-body">
          <div class="lead text-muted text-center">Stop digging through spreadsheets.</div>
        </div>
      </div>
    </div>

    <div class="media col-md-3" style="margin-top:15px;">
      <img class="center-block" src="theme/images/piechart.png" title="Prove the impact of your courses" />
      <div class="media-body">
        <div class="panel-body">
          <div class="lead text-muted text-center">Prove the impact of your courses.</div>
        </div>
      </div>
    </div>

    <div class="media col-md-3" style="margin-top:15px;">
      <img class="center-block" src="theme/images/barchart.png" title="Gain peace of mind by making data-driven decisions" />
      <div class="media-body">
        <div class="panel-body">
          <div class="lead text-muted text-center">Gain peace of mind by making data-driven decisions.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>




<div class="container">
  <div class="page-section">
    <div class="row">

    </div>
  </div>
  <br/>

</div>

<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h4 class="text-headline text-light">Docs</h4>
        <ul class="list-unstyled">
          <li><a href="#">API Documentaion</a></li>
          <li><a href="#">LET Vocabulary</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">

      </div>
      <div class="col-xs-12 col-md-6">
        <h4 class="text-headline text-light">Newsletter</h4>

        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter email here...">
            <span class="input-group-btn">
								<button class="btn btn-grey-800" type="button">Subscribe</button>
							  </span>
          </div>
        </div>
        <br/>
        <p>
          <a href="#" class="btn btn-indigo-500 btn-circle"><i class="fa fa-facebook"></i></a>
          <a href="#" class="btn btn-pink-500 btn-circle"><i class="fa fa-dribbble"></i></a>
          <a href="#" class="btn btn-blue-500 btn-circle"><i class="fa fa-twitter"></i></a>
          <a href="#" class="btn btn-danger btn-circle"><i class="fa fa-google-plus"></i></a>
        </p>

        <p class="text-subhead">
          &copy; 2017 LET.
        </p>

      </div>
    </div>
  </div>
  </div>
</section>