  <div class="container">
    <div class="jumbotron bg-transparent text-center margin-none">
      <h1>Organizations</h1>
      <p>Creating an Organization</p>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
          
          <div class="panel panel-default">
            <div class="panel-body">
              <form>
                
                <div class="form-group form-control-material static required">
                  <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="orgCtr.name">
                  <label for="name">Name</label>
                </div>                
                <button class="btn btn-primary" ng-click="orgCtr.create()">Submit</button>
              </form>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
