  <div class="container" ng-init="resourceCtr.initCreate()">
    <div class="jumbotron bg-transparent text-center margin-none">
      <h1>Resources</h1>
      <p>Creating a Resource for a specific Course.</p>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
          
          <div class="panel panel-default">
            <div class="panel-body">
              <form>                
                <div class="row form-group required" style="margin-bottom:11px;">
                  <label class="col-sm-3 control-label">Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" ng-model="resourceCtr.name">
                  </div>
                </div>

                <div class="row form-group required" style="margin-bottom:11px;">
                  <label class="col-sm-3 control-label">ID IRI</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="id_IRI" ng-model="resourceCtr.id_IRI">
                  </div>
                </div>

                <div class="row form-group required" style="margin-bottom:11px;">
                  <label class="col-sm-3 control-label">Type</label>
                  <div class="col-sm-9">
                    <select id="type_select" class="form-control" ng-model="resourceCtr.type">
                      <option ng-repeat="type in resourceCtr.resourceTypes" value="{{type}}">{{type}}</option>
                    </select>
                  </div>
                </div>                             

                <div class="row form-group required" style="margin-bottom:11px;">
                  <label class="col-sm-3 control-label">Course</label>
                  <div class="col-sm-9">
                    <select id="course_select" class="form-control" ng-model="resourceCtr.courseId">
                      <option ng-repeat="course in resourceCtr.courseList" value="{{course.id}}">{{course.name}}</option>
                    </select>
                  </div>
                </div>          
                <div class="row" style="text-align:center;">
                    <button class="btn btn-primary" ng-click="resourceCtr.create()">Submit</button>
                </div>                      
              </form>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
