<div ng-init="resourceCtr.init()">
  <div class="parallax overflow-hidden bg-white page-section third">
    <div class="parallax-layer container" data-opacity="true" style="opacity: 1;">
      <div class="media v-middle">
        <div class="media-body">
          <h1 class="text-headline margin-none">Resources</h1>
          <p class="text-subhead text-light">a list of all the Resources.</p>
        </div>
        <div class="media-right">
          <a href="/admin/resources/create" class="btn btn-success">Create</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page-section">
      <div class="row">
        <div class="col-md-12">

          <div class="panel panel-default">
            <!-- Data table -->
            <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Id IRI</th>
                    <th>Platform</th>
                    <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="resource in resourceCtr.resourceList">
                    <td>{{resource.name}}</td>
                    <td>{{resource.type}}</td>                    
                    <td>{{resource.id_IRI}}</td>
                    <td>{{resource.platform}}</td>  
                  <td>
                    <button class="btn btn-info" ng-click="resourceCtr.viewDashboard(resource.id)" style="height: 24px;padding: 2px;padding-right: 5px;padding-left: 5px;">
                          dashbaord
                      </button>
                    <button class="btn btn-danger" ng-click="resourceCtr.delete(resource.id)" style="height: 24px;padding: 2px;padding-right: 5px;padding-left: 5px;">
                          delete
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- // Data table -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>