<div class="container" ng-init="resourceCtr.init()">
    <div class="jumbotron text-center bg-transparent margin-none">
      <h1>Resources</h1>
      <p>a list of your Course Resources.</p>
      <a href="/admin/resources/create"class="btn btn-primary">Create</a>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
          
          <div class="panel panel-default">
            <!-- Data table -->
            <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Type</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="resource in resourceCtr.resourceList">
                  <td>{{resource.id}}</td>
                  <td>{{resource.name}}</td>
                  <td>{{resource.description}}</td>
                  <td>{{resource.type}}</td>
                  <td>
                      <button class="btn btn-danger" ng-click="resourceCtr.delete(resource.id)" style="height: 24px;padding: 2px;padding-right: 5px;padding-left: 5px;">
                          delete
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- // Data table -->
          </div>

        </div>
      </div>
    </div>
   
 </div>