<div ng-init="courseElementsCtr.getStudentsList()">
  <div class="parallax overflow-hidden bg-white page-section third">
    <div class="parallax-layer container" data-opacity="true" style="opacity: 1;">
      <div class="media v-middle">
        <div class="media-body">
          <h1 class="text-headline margin-none">Students</h1>
          <p class="text-subhead text-light">a list of {{courseElementsCtr.course.name}} students.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page-section">
      <div class="row">
        <div class="col-md-9">

          <div ng-if="courseElementsCtr.studentsList && courseElementsCtr.studentsList.length != 0" class="panel panel-default paper-shadow" data-z="0.5">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6 pull-right">
                  <select class="form-control max-width-100 pull-right" ng-model="courseElementsCtr.pageSize" ng-change="courseElementsCtr.getStudentsPage()">
                      <option value="10">10 Item</option>
                      <option value="25">25 Item</option>
                      <option value="50">50 Item</option>
                      <option value="100">100 Item</option>
                  </select>
                </div>
              </div>
            </div>        
    
            <div class="table-responsive">
              <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="student in courseElementsCtr.studentsList">
                    <td>{{student.name}}</td>
                    <td>{{student.email}}</td>
                    <td>
                      <button class="btn btn-info" ng-click="courseElementsCtr.viewStudentDashboard(student.id)" style="height: 24px;padding: 2px;padding-right: 5px;padding-left: 5px;">
                            dashboard
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-footer" style="padding:0px 15px;">
              <div paging page="courseElementsCtr.currentPage" paging-action="courseElementsCtr.getStudentsPage('clicked',page, pageSize, total)"
                page-size="courseElementsCtr.pageSize" total="courseElementsCtr.studentsCount" width="100%">
              </div>
            </div>
          </div>

          <h1 ng-if="courseElementsCtr.studentsList.length ==0" class="text-headline margin-none">No Students in this course.</h1>
        </div>

        <div class="col-md-3">
          <div class="panel panel-default paper-shadow" data-z="0.5">
            <div class="panel-heading panel-collapse-trigger">
              <h4 class="panel-title">Course {{courseElementsCtr.coure.name}} Elements</h4>
            </div>
            <div class="panel-body list-group">
              <ul class="list-group list-group-menu">
                <li class="list-group-item"><a class="link-text-color" href="admin/course/{{courseElementsCtr.course.id}}/assessments/">Assessments</a></li>
                <li class="list-group-item"><a class="link-text-color" href="admin/course/{{courseElementsCtr.course.id}}/activities/">Activites</a></li>
                <li class="list-group-item"><a class="link-text-color" href="admin/course/{{courseElementsCtr.course.id}}/resources/">Rersources</a></li>
                <li class="list-group-item active"><a class="link-text-color" href="admin/course/{{courseElementsCtr.course.id}}/students/">Students</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>