//script(type='text/javascript', src='/bower_components/jquery/dist/jquery.js')

//script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.js')
script(type='text/javascript', src='/bower_components/angular/angular.js')
script(type='text/javascript', src='/bower_components/angular-ui-router/release/angular-ui-router.js')
script(type='text/javascript', src='/bower_components/ngstorage/ngStorage.js')
script(type='text/javascript', src='/bower_components/ngToast/dist/ngToast.js')
script(type='text/javascript', src='/bower_components/angular-animate/angular-animate.js')
script(type='text/javascript', src='/bower_components/angular-sanitize/angular-sanitize.js')
script(type='text/javascript', src='/bower_components/angular-loading-bar/build/loading-bar.min.js')


script.
    var colors = {
      "danger-color": "#e74c3c",
      "success-color": "#81b53e",
      "warning-color": "#f0ad4e",
      "inverse-color": "#2c3e50",
      "info-color": "#2d7cb5",
      "default-color": "#6e7882",
      "default-light-color": "#cfd9db",
      "purple-color": "#9D8AC7",
      "mustard-color": "#d4d171",
      "lightred-color": "#e15258",
      "body-bg": "#f6f6f6"
    };
    var config = {
      theme: "html",
      skins: {
        "default": {
          "primary-color": "#42a5f5"
        }
      }
    };
script(type='text/javascript', src="/theme/assets/js/vendor/all.js")
script(type='text/javascript', src='/theme/assets/js/material.js')

each jsAsset in settings.jsAssets
    script(type='text/javascript', src='#{jsAsset}')

     
