head
  base(href="/")
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= "LET"
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')    

  link(href='/pages/assets/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  
  link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/theme/assets/css/vendor-all.css')  
  link(rel='stylesheet', href='/theme/assets/css/app.css')
  //link(rel='stylesheet', href='/theme/assets/css/keen-static.css')  
  link(rel='stylesheet', href='/theme/assets/css/keen-dashboards.css')
  link(rel='stylesheet', href='/bower_components/ngToast/dist/ngToast.css')
  link(rel='stylesheet', href='/bower_components/angular-loading-bar/build/loading-bar.css')
  link(rel='stylesheet', href='/bower_components/dcjs/dc.min.css')
  link(rel='stylesheet', href='/bower_components/angularjs-slider/dist/rzslider.min.css')
  link(rel='stylesheet', href='/theme/assets/css/prettify.min.css')  
  
  

  
  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    
  
  
