<div ng-init="assessmentCtr.initDashboard()" style="padding: 10px;">
    <div class="jumbotron text-center bg-transparent margin-none">
      <h1>{{assessmentCtr.assessment.name}} Assessment Dashboard</h1>
    </div>

    <div>
      <div class="row">
        <div class="col-sm-6">
          <div class="chart-wrapper">
            <div class="chart-title">
              Pageviews by browser (past 24 hours)
            </div>
            <div class="chart-stage">
              <img data-src="holder.js/100%x350/white">
            </div>
            <div class="chart-notes">
              This is a sample text region to describe this chart.
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="chart-wrapper">
            <div class="chart-title">
              Pageviews by browser (past 5 days)
            </div>
            <div class="chart-stage">
                <div id="question-chart">
            </div>
            <div class="chart-notes">
              Notes go down here
            </div>
          </div>
        </div>

      </div>


      <div class="row">

        <div class="col-sm-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              Questions incorrect percentage
            </div>
            <div class="chart-stage">
                <div id="scoresRangeChart">
            </div>
            <div class="chart-notes">
              Questions incorrect percentage
            </div>
          </div>
        </div>

      </div>
    </div>
   
 </div>