<div ng-init="assessmentCtr.init()">
  <div class="parallax overflow-hidden bg-white page-section third">
    <div class="parallax-layer container" data-opacity="true" style="opacity: 1;">
      <div class="media v-middle">
        <div class="media-body">
          <h1 class="text-headline margin-none">Assessments</h1>
          <p class="text-subhead text-light">a list of all the Assessments.</p>
        </div>
        <div class="media-right">
          <a href="/admin/assessments/create" class="btn btn-success">Create</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page-section">
      <div class="row">
        <div class="col-md-12">

          <div class="panel panel-default">
            <!-- Data table -->
            <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Id IRI</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="assessment in assessmentCtr.assessmentsList">
                  <td>{{assessment.id}}</td>
                  <td>{{assessment.name}}</td>
                  <td>{{assessment.id_IRI}}</td>
                  <td>
                    <button class="btn btn-info" ng-click="assessmentCtr.viewDashboard(assessment.id)" style="height: 24px;padding: 2px;padding-right: 5px;padding-left: 5px;">
                          dashboard
                      </button>
                    <button class="btn btn-danger" ng-click="assessmentCtr.delete(assessment.id)" style="height: 24px;padding: 2px;padding-right: 5px;padding-left: 5px;">
                          delete
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- // Data table -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>