<div ng-init="dashboardCtr.findOne()">
  <div class="parallax overflow-hidden bg-white page-section third">
    <div class="parallax-layer container" data-opacity="true" style="opacity: 1;">
      <div class="media v-middle">
        <div class="media-body">
          <h1 class="text-headline margin-none">{{dashboardCtr.course.name.toUpperCase()}} Course Dashboard</h1>
          <p class="text-subhead text-light">Some insights about this course</p>
        </div>
        <div class="media-right">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="page-section">


      <div class="row">
        <div class="col-sm-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              Course activities
            </div>
            <div class="chart-stage">
              <div id="course-overall-chart" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              Time machine (choose week):
            </div>
            <div class="chart-stage">
              <rzslider rz-slider-model="dashboardCtr.weekSlider.value" rz-slider-options="dashboardCtr.weekSlider.options"></rzslider>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="chart-wrapper">
            <div class="chart-title">
              Resources activity in week {{dashboardCtr.weekSlider.value}}
            </div>
            <div class="chart-stage">
              <div id="resources-weekly-chart" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="chart-wrapper">
            <div class="chart-title">
              Students Views Historam
            </div>
            <div class="chart-stage">
              <div id="students-views-historam" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="chart-wrapper">
            <div class="chart-title">
              Top 10 accessed resource in week {{dashboardCtr.weekSlider.value}}
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered" style="margin-bottom:0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>URL</th>
                    <th>No of Lunches</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="resource in dashboardCtr.top10AccessedResrouce">
                    <td>{{resource.Resource.name}}</td>
                    <td>{{resource.Resource.type}}</td>
                    <td>{{resource.Resource.id_IRI}}</td>
                    <td>{{resource.numOfLaunches}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

        <div class="col-sm-6">
          <div class="chart-wrapper">
            <div class="chart-title">
              Top 10 active students in week {{dashboardCtr.weekSlider.value}}
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered" style="margin-bottom:0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>No of Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="student in dashboardCtr.topTenActiveStudents">
                    <td>{{student.User.name}}</td>
                    <td>{{student.User.email}}</td>
                    <td>{{student.numOfAction}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="chart-wrapper">
            <div class="chart-title">
              At risk students in week {{dashboardCtr.weekSlider.value}}
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered" style="margin-bottom:0">
                <thead>
                  <tr>
                    <th>Student Name</th>
                    <th>Will submit next assessment</th>
                    <th>At Risk</th>
                    <th>Final Result</th>
                  </tr>
                </thead>
                <tr ng-repeat="result in dashboardCtr.partOfPredctionData">
                  <td>{{result.User.name}}</td>
                  <td>{{result.will_submit}}</td>
                  <td>{{result.atRisk}}</td>
                  <td>{{result.final_result}}</td>
                </tr>
              </table>
            </div>
            <div style="padding:0px 15px;">
              <div paging page="dashboardCtr.currentPage" paging-action="dashboardCtr.getPage('clicked',page, pageSize, total)" page-size="dashboardCtr.pageSize"
                total="dashboardCtr.predctionData.length" width="100%">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              Time machine (choose week):
            </div>
            <div class="chart-stage">
              <rzslider rz-slider-model="dashboardCtr.weekSlider.value" rz-slider-options="dashboardCtr.weekSlider.options"></rzslider>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              Students Behavior
            </div>
            <div class="chart-stage">
              <div id="clusters-chart" style="width:100%; height:400px;"></div>
            </div>
            <div class="chart-notes">
              <div class="row container">
                <label>X Axis</label>
                <select class="max-width-100" ng-model="dashboardCtr.x" ng-change="dashboardCtr.drawClusterChart()">
                    <option value="Content">Content</option>
                    <option value="Forum">Forum</option>
                    <option value="URL">URL</option>
                </select>
                <label>Y Axis</label>
                <select class="max-width-100" ng-model="dashboardCtr.y" ng-change="dashboardCtr.drawClusterChart()">
                    <option value="Content">Content</option>
                    <option value="Forum">Forum</option>
                    <option value="URL">URL</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>