<div ng-init="dashboardCtr.findOne()">
  <div class="parallax overflow-hidden bg-white page-section third">
    <div class="parallax-layer container" data-opacity="true" style="opacity: 1;">
      <div class="media v-middle">
        <div class="media-body">
          <h1 class="text-headline margin-none">{{dashboardCtr.course.name.toUpperCase()}} Course Dashboard</h1>
          <p class="text-subhead text-light">Some insights about this course</p>
        </div>
        <div class="media-right">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="page-section">

      <div class="row">
        <div class="col-sm-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              Time machine (choose week):
            </div>
            <div class="chart-stage">
              <rzslider rz-slider-model="dashboardCtr.weekSlider.value" rz-slider-options="dashboardCtr.weekSlider.options"></rzslider>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="chart-wrapper">
            <div class="chart-title">
              Resources activity in week {{dashboardCtr.weekSlider.value}}
            </div>
            <div class="chart-stage">
              <div id="resources-weekly-chart" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="chart-wrapper">
            <div class="chart-title">
              Resouce Types
            </div>
            <div class="chart-stage">
              <div id="resources-types-chart" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>