<div ng-init="courseCtr.findOne()">
  <div class="parallax overflow-hidden bg-white page-section">
    <div class="parallax-layer container" data-opacity="true">
      <div class="media v-middle">
        <div class="media-body">
          <h1 class="text-display-1 margin-none">{{courseCtr.course.name.toUpperCase()}} Course Details</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="page-section">
        <div class="row">

          <div class="col-md-4">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <h4 class="text-headline margin-none">Students</h4>
                <p class="text-subhead text-light" ng-if="courseCtr.course.Users.length != 0">A list of recent course students.</p>
                <p class="text-subhead text-light" ng-if="courseCtr.course.Users.length == 0">No Students in this course.</p>
              </div>
              <ul class="list-group">
                <li class="list-group-item media v-middle" ng-repeat="user in courseCtr.course.Users">
                  <div class="media-body">
                    <div class="media v-middle">
                      <div class="media-left">
                        <div class="icon-block s30 bg-red-300 text-white img-circle">
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                      <div class="media-body text-body-2">
                        {{user.name}}
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="panel-footer text-right">
                <a href="admin/course/{{courseCtr.course.id}}/students/" class="btn btn-primary paper-shadow relative" data-z="0" data-hover-z="1"
                  data-animated href="#"> View all</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <h4 class="text-headline margin-none">Resources</h4>
                <p class="text-subhead text-light" ng-if="courseCtr.course.Resources.length != 0">A list of recent course resources.</p>
                <p class="text-subhead text-light" ng-if="courseCtr.course.Resources.length == 0">No Resources in this course.</p>
              </div>
              <ul class="list-group">
                <li class="list-group-item media v-middle" ng-repeat="resource in courseCtr.course.Resources">
                  <div class="media-body">
                    <div class="media v-middle">
                      <div class="media-left">
                        <div class="icon-block s30 bg-red-300 text-white">
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                      <div class="media-body text-body-2">
                        {{resource.name}}
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="panel-footer text-right">
                <a href="admin/course/{{courseCtr.course.id}}/resources/" class="btn btn-primary paper-shadow relative" data-z="0" data-hover-z="1"
                  data-animated href="#"> View all</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <h4 class="text-headline margin-none">Assessments</h4>
                <p class="text-subhead text-light" ng-if="courseCtr.course.Assessments.length != 0">A list of recent course assessments.</p>
                <p class="text-subhead text-light" ng-if="courseCtr.course.Assessments.length == 0">No Assessments in this course.</p>
              </div>
              <ul class="list-group">
                <li class="list-group-item media v-middle" ng-repeat="assessment in courseCtr.course.Assessments">
                  <div class="media-body">
                    <div class="media v-middle">
                      <div class="media-left">
                        <div class="icon-block s30 bg-red-300 text-white img-circle">
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                      <div class="media-body text-body-2">
                        {{assessment.name}}
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="panel-footer text-right">
                <a href="admin/course/{{courseCtr.course.id}}/assessments/" class="btn btn-primary paper-shadow relative" data-z="0" data-hover-z="1"
                  data-animated href="#"> View all</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-default paper-shadow" data-z="0.5">
                <div class="panel-heading">
                  <h4 class="text-headline margin-none">Activities</h4>
                  <p class="text-subhead text-light" ng-if="courseCtr.course.activities.length != 0">A list of recent course activities.</p>
                  <p class="text-subhead text-light" ng-if="courseCtr.course.activities.length == 0">No Activities in this course.</p>
                </div>
                <ul class="list-group">
                  <li class="list-group-item media v-middle" ng-repeat="activity in courseCtr.course.activities">
                    <div class="media-body">
                      <div class="media v-middle">
                        <div class="media-left">
                          <div class="icon-block s30 bg-red-300 text-white img-circle">
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <div class="media-body text-body-2">
                          {{activity.name}}
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="panel-footer text-right">
                  <a href="admin/course/{{courseCtr.course.id}}/activities/" class="btn btn-primary paper-shadow relative" data-z="0" data-hover-z="1"
                    data-animated href="#"> View all</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>