<div class="parallax overflow-hidden bg-white page-section third" ng-init="dashboardCtr.init()">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle">
      <div class="media-body">
        <h1 class="text-headline margin-none">{{dashboardCtr.user.name}}</h1>
        <p class="text-subhead text-light"><a class="text-underline" href="website-student-public-profile.html">View profile</a></p>
      </div>
      <div class="media-right">
        <span class="label bg-green-500">Owner</span>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <div class="row" data-toggle="isotope">
          <div class="item col-xs-12 col-lg-6">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <h4 class="text-headline margin-none">Organizations</h4>
                <p class="text-subhead text-light">Your saved organizations</p>
              </div>
              <ul class="list-group">
                <li class="list-group-item media v-middle" ng-repeat="org in dashboardCtr.orgsList.slice(0,5)">
                  <div class="media-body">
                    <a href="#" class="text-subhead list-group-link">{{org.name}}</a>
                  </div>
                </li>
              </ul>
              <div class="panel-footer text-right">
                <a href="admin/org/all" class="btn btn-primary paper-shadow relative" data-z="0" data-hover-z="1" data-animated href="#"> View all</a>
              </div>
            </div>
          </div>

          <div class="item col-xs-12 col-lg-6">
            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <h4 class="text-headline margin-none">Courses</h4>
                <p class="text-subhead text-light">Your saved courses</p>
              </div>
              <ul class="list-group">
                <li class="list-group-item media v-middle" ng-repeat="course in dashboardCtr.coursesList.slice(0,5)">
                  <div class="media-body">
                    <a href="admin/course/{{course.id}}" class="text-subhead list-group-link">{{course.name}}</a>
                    <p style="float:right;">
                      {{course.Organization.name}}
                    </p>
                  </div>
                </li>
              </ul>
              <div class="panel-footer text-right">
                <a href="admin/courses/all" class="btn btn-primary paper-shadow relative" data-z="0" data-hover-z="1" data-animated href="#"> View all</a>
              </div>
            </div>
          </div>

        </div>

        <br/>
        <br/>

      </div>
      <div class="col-md-3">

        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
          <div class="panel-heading panel-collapse-trigger">
            <h4 class="panel-title">My Account</h4>
          </div>
          <div class="panel-body list-group">
            <ul class="list-group list-group-menu">
              <li class="list-group-item active"><a class="link-text-color" href="admin/dashboard">Dashboard</a></li>
              <li class="list-group-item"><a class="link-text-color" href="admin/org/all">My Organizations</a></li>
              <li class="list-group-item"><a class="link-text-color" href="admin/courses/all">My Courses</a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>