<div class="container" ng-init="courseCtr.init()">
    <div class="jumbotron text-center bg-transparent margin-none">
      <h1>Courses</h1>
      <p>a list of Educational Courses.</p>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
          
          <div class="panel panel-default">
            <!-- Data table -->
            <table data-toggle="data-table" class="table" cellspacing="0" width="100%" style="table-layout:fixed;">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="course in courseCtr.courseList">
                  <td>{{course.id}}</td>
                  <td>{{course.name}}</td>
                  <td>
                      <button ng-if="course.Users.length == 0" class="btn btn-primary" ng-click="courseCtr.enroll(course.id)" style="height: 24px;padding: 2px;padding-right: 5px;padding-left: 5px;">
                          Enroll
                      </button>
                      <button ng-if="course.Users.length != 0" class="btn btn-primary" ng-click="courseCtr.viewCourse(course.id)" style="height: 24px;padding: 2px;padding-right: 5px;padding-left: 5px;">
                          Details
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- // Data table -->
          </div>

        </div>
      </div>
    </div>
   
 </div>