<div ng-init="courseCtr.init()">

  <div class="parallax overflow-hidden bg-white page-section third">
    <div class="parallax-layer container" data-opacity="true" style="opacity: 1;">
      <div class="media v-middle">
        <div class="media-body">
          <h1 class="text-headline margin-none">Courses</h1>
          <p class="text-subhead text-light">a list of your registered Courses.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="page-section">
      <div class="row">
        <div class="col-md-9">

          <div class="panel panel-default">
            <!-- Data table -->
            <table data-toggle="data-table" class="table" cellspacing="0" width="100%" style="table-layout:fixed;">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Regestraion Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="course in courseCtr.courseList">
                  <td>{{course.id}}</td>
                  <td>{{course.name}}</td>
                  <td>
                    <button ng-if="course.Users.length == 0" class="btn btn-primary" ng-click="courseCtr.enroll(course.id)" style="height: 24px;padding: 2px;padding-right: 5px;padding-left: 5px;">
                          Enroll
                      </button>
                    <button ng-if="course.Users.length != 0" class="btn btn-primary" ng-click="courseCtr.viewDashboard(course.id)" style="height: 24px;padding: 2px;padding-right: 5px;padding-left: 5px;">
                          Dashboard
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- // Data table -->
          </div>

        </div>
      </div>
    </div>
  </div>