<div ng-init="courseCtr.findOne()">
    <div class="parallax bg-white page-section">
    <div class="parallax-layer container" data-opacity="true">
      <div class="media v-middle">
        <div class="media-left">
          <span class="icon-block s60 bg-lightred"><i class="fa fa-file"></i></span>
        </div>
        <div class="media-body">
          <h1 class="text-display-1 margin-none">{{courseCtr.course.name}} Course</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="page-section">
          <div class="row">
            <div class="col-md-4">
              <h2 class="text-headline margin-none">Resources</h2>
              <p class="text-subhead text-light">A list of Course resources.</p>
              <ul class="list-group relative paper-shadow" data-hover-z="0.5" data-animated>
                <li class="list-group-item" ng-repeat="resource in courseCtr.course.Resources">
                  <div class="media v-middle">
                    <div class="media-left">
                      <div class="icon-block s30 bg-red-300 text-white img-circle">
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <div class="media-body text-body-2">
                      {{resource.name}}
                    </div>
                  </div>
                </li>
              </ul>
              <p ng-if="courseCtr.course.Resources.length == 0">No Resources.</p>
            </div>

            <div class="col-md-4">
              <h2 class="text-headline margin-none">Assessments</h2>
              <p class="text-subhead text-light">A list of Course assessments.</p>
              <ul class="list-group relative paper-shadow" data-hover-z="0.5" data-animated>
                <li class="list-group-item" ng-repeat="assessment in courseCtr.course.Assessments">
                  <a href="/assessments/{{assessment.id}}">
                    <div class="media v-middle">
                      <div class="media-left">
                        <div class="icon-block s30 bg-red-300 text-white img-circle">
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                      <div class="media-body text-body-2">
                        {{assessment.name}}
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <p ng-if="courseCtr.course.Assessments.length == 0">No Assessments.</p>
            </div>

            <div class="col-md-4">

            </div>
          </div>
        </div>
    </div>
  </div>
</div>