<div ng-init="qCtr.initDetails()">
  <div class="parallax overflow-hidden bg-white page-section third">
    <div class="parallax-layer container" data-opacity="true" style="opacity: 1;">
      <div class="media v-middle">
        <div class="media-body">
          <h1 class="text-headline margin-none">Question Details</h1>
          <p class="text-subhead text-light">Question indicators</p>
        </div>
        <div class="media-right">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="page-section">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Name
              </div>
              <div class="chart-stage">
                <div id="grid-1-1">
                  {{qCtr.question.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TABLE -->
      <div class="row" ng-if="qCtr.tableData">
          <div class="col-md-8 col-md-offset-2">
              <table class="table" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th ng-repeat="header in qCtr.headers">
                              {{header}}
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="row in qCtr.tableData">
                          <td ng-repeat="rowElement in row">
                              {{rowElement}}
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>


      <!--
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Resource Lunch Interaction
              </div>
              <div class="chart-stage">
                <div id="resource_lunch_chart" style="width:100%; height:400px;"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Resource Click Interaction
              </div>
              <div class="chart-stage">
                <div id="resource_click_chart" style="width:100%; height:400px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>