<div ng-init="qCtr.init()">
    <div class="container-fluid">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <div class="col-md-8">
                    <input type="text" ng-model="qCtr.questionName" class="form-control" placeholder="Question Name">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" style="float:right" ng-click="qCtr.saveQuesiton()">Save Question</button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;" ng-repeat="indicator in qCtr.questionIndics">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <label>Did what?</label>
                            <select class="form-control" ng-model="qCtr.didWhat">
                                <option ng-repeat="verb in qCtr.verbs" value="{{verb.id}}">{{verb.name}}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="card">
                            <label>To what?</label>
                            <select class="form-control" ng-model="qCtr.toWhat" style="margin-bottom:10px;">
                                <option value="resource" selected>Resource</option>
                                <option value="assessment">Assessment</option>
                                <option value="question">Question</option>
                            </select>

                            <select class="form-control" ng-if="qCtr.toWhat == 'resource'" ng-model="qCtr.toWhatValue">
                                <option ng-repeat="resource in qCtr.resources" value="{{resource.id}}}">{{resource.name}}</option>
                            </select>

                            <select class="form-control" ng-if="qCtr.toWhat == 'assessment'" ng-model="qCtr.toWhatValue">
                                <option ng-repeat="assessments in qCtr.assessments" value="{{assessments.id}}}">{{assessments.name}}</option>
                            </select>

                            <select class="form-control" ng-if="qCtr.toWhat == 'question'" ng-model="qCtr.toWhatValue">
                                <option ng-repeat="question in qCtr.question" value="{{question.id}}}">{{question.name}}</option>
                            </select>
                        </div>
                    </div>                    

                    <div class="col-md-2">
                        <div class="card">
                            <label>Who ?</label>
                            <select class="form-control" ng-model="qCtr.apply">
                                <option value="none">Sherley Pressley</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card">
                            <label>When ?</label>
                            <select class="form-control" ng-model="qCtr.apply">
                                <option value="none">17 - 7 - 2017</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card">
                            <label>Apply ?</label>
                            <select class="form-control" ng-model="qCtr.apply">
                                <option value="none">Count</option>
                                <option value="min">Min</option>
                                <option value="max">Max</option>
                            </select>
                        </div>
                    </div>
                </div>            

                <div class="row" style="margin-top:30px;">
                    <button class="btn btn-primary" style="margin:0 auto;display:block;" ng-click="qCtr.execute()">Execute</button>                
                </div>

                <div class="row" style="margin-top:30px;">
                    <div class="col-md-4">
                        <div class="card">
                            Max Resource Clicked:  546943
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            Min Resource Clicked:  546712
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="chart" style="width:100%; height:400px;"></div>
                </div>

                
            </div>        
        </div>
    </div>
</div>